{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:vue/vue3-recommended",
    "prettier",
    "plugin:storybook/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "vue/multi-word-component-names": "off",
    "no-useless-escape": "off",
    "no-undef": "off",
    "no-console": "warn",
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": false
      }
    ],
    "@typescript-eslint/strict-boolean-expressions": "off"
  },
  "overrides": [
    {
      "files": [
        "**/pages/**/*.{js,ts,vue}",
        "**/layouts/**/*.{js,ts,vue}",
        "**/app.{js,ts,vue}",
        "**/error.{js,ts,vue}"
      ]
    }
  ]
}
